# dependencies
/node_modules
/.pnp
.pnp.js

# production
/build

npm-debug.log*
.idea

# local env files
.env.local
.env.*.local

firebase-debug.log
database.rules.json
firebase.json
.firebaserc

.firebase
